@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');

/* INICIO VARIABLES */
:root {
    --font-family: 'Rasa', serif;
    --main-color: #414141;
    --secondary-color: #c9c9c9;
    --max-width: 87.5rem;
    --space: 1.25rem;
    --color-button: #eeeeee;
}

/* FIN VARIABLES */

/* INICIO LAYOUT */

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
}

img:hover {
    filter: grayscale(0%);
}

.container {
    max-width: var(--max-width);
    margin: 0px auto;
}

body {
    font-family: var(--font-family);
    font-weight: 300;
    color: var(--main-color);
    font-size: 1rem;
}

/* FIN LAYOUT */

/* INICIO HEADER */
header {
    padding-top: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav .menu {
    padding: calc(var(--space) * 2) 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.75rem;
    padding: 0rem 1.25rem;
}

header nav.container>a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-color);
    width: 50%;
}

header nav.container #button-menu {
    width: 50%;
    text-align: right;
}

header nav.container #button-menu a {
    text-decoration: none;
    color: var(--main-color);
}

header nav.container .menu {
    width: 100%;
}

header nav.container .menu li {
    text-align: center;
}

header nav.container .menu li a {
    display: inline-block;
    padding: 0.625rem 0rem;
    text-decoration: none;
    color: var(--main-color);
}

header nav.container .menu li .active {
    font-weight: 500;
}

/* FIN HEADER */


/* INICIO HERO */
.hero {
    background-image: url(../images/fondo.pngs);
    background-size: cover;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
}

.hero h1 {
    text-align: center;
    font-size: 3em;
    line-height: 1.4em;
}

/* FIN HERO */



/* INICIO FOOTER */
footer .container {
    padding: 0rem 1.25rem;
    color: var(--secondary-color);
}

/* FIN FOOTER */
















/* MEDIA QUERIES */

@media (width >=48rem) {

    header nav.container #button-menu {
        display: none;
    }

    header nav.container .menu {
        width: 80%;
        order: 1;
    }

    header nav.container>a {
        width: 20%;
        order: 2;
        text-align: right;
    }

    header nav.container .menu li {
        text-align: left;
        display: inline-block;
    }

    header nav .menu {
        padding: 0rem;
    }

    header nav.container .menu li a {
        padding: 0rem cal(var(--space) * 1.25) 0rem 0rem;
    }
}

.hero h1 {
    max-width: 43.75rem;
}

@media (width >=87.5rem) {
    header .container {
        padding: 0rem;
    }

    footer .container {
        padding: 0rem;
    }
}