@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Rasa:wght@300;500&display=swap');

:root {
    --font: 'Rasa', serif;
    --mainColor: #414141;
    --secondaryColor: #c9c9c9;
    --maxWidth: 87.5rem;
    --space: 1.25rem;
    --colorButton: #eeeeee;
}

img {
    width: 100%;
    height: auto;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
}

img:hover {
    filter: grayscale(0%);
}

* {
    box-sizing: border-box;
}

.container {
    max-width: var(--maxWidth);
    margin: 0 auto;
}

body {
    font-family: var(--font);
    font-weight: 300;
    color: var(--mainColor);
    font-size: 1em;
}


/*inicio header*/

header {
    padding-top: 2em;
    background-color: rgba(255, 255, 255, 0.8);
    position: sticky;
    top: 0;
    z-index: 1;
}

header nav .menu {
    padding: calc(var(--space) * 2) 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 1.75em;
    padding: 0rem 1.25rem;
}

header nav.container>a {
    display: inline-block;
    text-decoration: none;
    color: var(--mainColor);
    width: 50%;
}

header nav.container #btnMenu {
    width: 50%;
    text-align: right;
}

header nav.container .menu {
    width: 100%;
}

header nav.container .menu li {
    text-align: center;
}

header nav.container .menu a {
    display: inline-block;
    padding: 0.625rem 0rem;
    text-decoration: none;
    color: var(--mainColor);
}

header nav.container .menu .active {
    font-weight: 500;
}

/*fin header*/

/* inicio de footer */

footer .container {
    padding: 0rem 1.25rem;
    color: var(--secondaryColor);
}

/* final del footer */

main section h2 {
    font-size: 2.5em;
    padding-bottom: 2.5rem;
    text-align: center;
}


/* Inicio meet the team */

main #meettheteam .container h2 {
    padding-bottom: 100px;
}

main #meettheteam .container .flex article figure {
    max-width: 260px;
    margin: 0 auto;
    transform: rotateZ(45deg);
    overflow: hidden;
    transition: 1s;
}

main #meettheteam .container .flex article figure img {
    transform: rotateZ(-45deg) scale(1.7);
    transition: 1s;

    &:hover {
        filter: grayscale(0%);
    }
}

main #meettheteam .container .flex figure:hover {
    transform: rotateZ(0deg);
}

main #meettheteam .container .flex figure img:hover {
    transform: rotateZ(0deg);
}

main #meettheteam .container .flex article .role {
    text-align: center;
    padding: 60px 0px 70px 0px;
}

main #meettheteam .container .flex article .role h3 {
    font-size: 1.5em;
    color: var(--mainColor);
}

main #meettheteam .container .flex article .role p {
    font-size: 1.2em;
    color: var(--secondaryColor);
    padding: 5px 0px;
}

/* fin meet the team */

/* inicio de hiring */
main #hiring .container {
    background-image: url(../images/fondo.png);
    text-align: center;
    padding: 6.25rem 3.125rem;

}

main #hiring .container h3 {
    color: var(--mainColor);
    font-size: 1.2em;
}

main #hiring .container h3 a {
    color: var(--mainColor);
    text-decoration: none;
    border-bottom: 1px solid var(--secondaryColor);
}

/* fin de hiring */


/* inicio our expertise */

main #ourexpertise .container {
    padding-bottom: 120px;
}

main #ourexpertise .container article {
    text-align: center;
}

main #ourexpertise .container article figure {
    max-width: 100px;
    margin: 0 auto;
}

main #ourexpertise .container article h3 {
    font-size: 1.2rem;
    padding: 10px 0px 0px 0px;
}

main #ourexpertise .container article p {
    color: var(--secondaryColor);
    padding: 10px 0px 30px 0px;
}

/* fin our expertise */

/*Inicio de the way we work*/

main #waywework .container nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}

main #waywework .container nav ul li {
    color: var(--secondaryColor);
    font-size: var(--space);
    text-align: center;
    width: 20%;
    padding: 10px 0px;

    &:hover {
        border-bottom: 3px solid black;
        color: var(--mainColor);
    }
}

main #waywework .container article {
    padding: 20px 20px 100px 20px;
    margin: 0 auto;
}

main #waywework .container article h3 {
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
    padding: 0px 0px 20px 0px;
}

main #waywework .container p {
    font-size: 1.2em;
    color: var(--mainColor);
    line-height: 1.2em;
}

main #waywework .container nav ul li span:first-child {
    padding-left: 2.5rem;
}

main #waywework .container nav ul li span:nth-child(2) {
    visibility: hidden;
}

/* Aquí oculto las pestañas 2/3/4/5 porque su cambio se hace con java */
main #waywework .container article:nth-child(n+4) {
    display: none;
}

/*Fin de the way we work*/








/* mediaqueries */

@media(min-width: 48rem) {
    header nav.container #btnMenu {
        display: none;
    }

    header nav.container .menu {
        width: 80%;

        order: 1;
    }

    header nav.container>a {
        width: 20%;
        order: 2;
        /* order es un regla de flex */
        text-align: right;
    }

    header nav.container .menu li {
        text-align: left;
        display: inline-block;
    }

    header nav .menu {
        padding: 0;
    }

    header nav.container .menu a {
        padding: 0rem calc(var(--space)*1.25) 0 0;
    }


    footer .container p {
        padding: 0px 0px 50px 0px;
    }

    .hero h1 {
        max-width: 43.75rem;
    }

    main #meettheteam .container h2 {
        padding-bottom: 100px;
        margin-top: 100px;
    }

    main #meettheteam .container .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    main #meettheteam .container .flex article {
        width: 350px;
        background-color: red;
    }

    main #meettheteam .container .flex article figure {
        max-width: 230px;
        margin: 0 auto;
        transform: rotateZ(45deg);
        overflow: hidden;
        transition: 1s;
    }

    main #meettheteam .container .flex article figure img {
        transform: rotateZ(-45deg) scale(1.7);
        transition: 1s;

        &:hover {
            filter: grayscale(0%);
        }
    }


    main #meettheteam .container .flex figure:hover {
        transform: rotateZ(0deg);
    }

    main #meettheteam .container .flex figure img:hover {
        transform: rotateZ(0deg);
    }


    main #meettheteam .container .flex article .role {
        text-align: center;
        padding: 60px 0px;
    }

    main #meettheteam .container .flex article .role h3 {
        font-size: 1.5em;
        color: var(--mainColor);
    }

    main #meettheteam .container .flex article .role p {
        font-size: 1.2em;
        color: var(--secondaryColor);
    }

    main #hiring .container {
        background-image: url(../images/fondo.png);
        padding: 6.25rem 0rem;
        margin-bottom: 150px;
    }

    main #hiring .container h3 {
        color: var(--mainColor);
        font-size: 1.5em;
    }

    main #hiring .container h3 a {
        color: var(--mainColor);
        text-decoration: none;
        border-bottom: 1px solid var(--secondaryColor);
    }


    main #ourexpertise .container .flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

    }

    main #ourexpertise .container .flex article {
        width: 30%;
        position: relative;
        margin-bottom: 100px;
    }

    main #ourexpertise .container .flex article h3 {
        position: absolute;
    }

    main #ourexpertise .container .flex article p {
        position: absolute;
        top: 120px;
    }


    main #ourexpertise .container .flex article figure {
        max-width: 100px;
        margin-left: 0px;
        padding-bottom: 0px;
    }

    main section h2 {
        text-align: left;
    }

    main #waywework .container nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    main #waywework .container nav ul li {
        color: var(--secondaryColor);
        font-size: var(--space);
        text-align: center;
        width: 20%;

        &:hover {
            border-bottom: 3px solid black;
            color: var(--mainColor);
        }
    }


    main #waywework .container article {
        padding: 0px 0px 100px 0px;
    }

    main #waywework .container article p {
        font-size: 1.5em;
        color: var(--mainColor);
        text-align: left;
        line-height: 1.2em;
    }

    main #waywework .container nav ul li span:first-child {
        visibility: hidden;
    }

    main #waywework .container nav ul li span:nth-child(2) {
        visibility: visible;
        padding-right: 2.5rem;
    }

    main #waywework .container article h3 {
        visibility: hidden
    }

    /* Aquí oculto las pestañas 2/3/4/5 porque su cambio se hace con java */
    main #waywework .container article:nth-child(n+4) {
        display: none;
    }
}

/* mediaqueries */

@media(min-width: 62.5rem) {
    main #news article figure {
        max-height: 280px;
        overflow: hidden;
    }
}

/* mediaqueries */

@media(min-width: 87.5rem) {
    header .container {
        padding: 0;
    }

    footer .container {
        padding: 0;
    }

    main #news article figure {
        max-height: 400px;
        overflow: hidden;
    }

}