@media (width >=480px) {

    section.meettheteam div.container h2 {
        text-align: left;
    }

    section.meettheteam div.container div.flex {
        justify-content: space-around;
        gap: 10px;
    }

    section.meettheteam div.container div.flex article {
        width: 20%;
        height: auto;
    }

    section.meettheteam div.container div.flex article figure {
        margin: 60px 25px;
        width: 290px;
        height: 290px;
    }

}

/* Fin de la primera section */